:host {
  background: white;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

.paper-shadow {
  pointer-events: none;
}

#toolbar {
  z-index: 0;
  background: #fff;
}

#main {
  z-index: 1;
  overflow: hidden;
  background: rgba(0,0,0,0.12);
}

#actions {
  z-index: 0;
  background: #fff;
}

#container {
  height: 95vh;
  width: 95vw;
  overflow: hidden;
}

#shadow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}