 <!DOCTYPE html>
<html>
  <head>
    <!-- inject:css -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
  </head>
  <body>
    <div class="hue">
      <div class="editor">
        <div class="toolbar">
          <ul>
            <li><a tool="draw" onclick="window.hue.selectTool('draw')">D</a></li>
            <li><a tool="fill" onclick="window.hue.selectTool('fill')">F</a></li>
            <li><a tool="erase" onclick="window.hue.selectTool('erase')">E</a></li>
            <li>-</li>
            <li><a tool="undo" onclick="window.hue.undo()">U</a></li>
            <li><a tool="redo" onclick="window.hue.redo()">R</a></li>
          </ul>
        </div>
        <div class="canvas">
          <canvas></canvas>
        </div>
      </div>
    </div>
  </body>
</html>